@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap');

*{
    margin:0;
    padding:0;
}

body{
   margin:0 auto;
    width:90vw;
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background-color:#6A4C93;
    color:white;
    overflow-x: hidden;
}

/* color classes */
.blue{
    background-color:#1982C4
}

.green{
    background-color:#8AC926
}

.grey{
    background-color:#888888;
}

.orange{
    background-color:#F08C30
}

.red{
    background-color:#FF595E
}

.big-btn{
    width:80%;
    border-radius: 0.5em;
    font-size: 36px;
    padding:24px 0;
    color:white;
    border: none;
}

.small-btn{
    width:25%;
    aspect-ratio: 1;
    font-size: 36px;
    color:white;
    border-radius: 0.5em;
}

h2{
    
font-size: 40px;
font-weight: 400;

text-align: center;

}



/* #creation{
    
} */

.logo{
    margin-top:40px;
}

.questions-nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top: 40px;
    gap:40px;
}

.circle{
    width:40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color:white;
}

.circles-block{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-direction: row;
    margin-top: 40px;
}

.question-block{
    display: flex;
    flex-direction: column;
    margin:20px 0;
    align-items:center;
    gap:20px;
    display: none;
    flex-wrap:wrap;
    
}

.active{
    display:flex;
}

.flex-row{
    flex-direction: row;
    justify-content: center;
}

.custom-input-area{
    width:100%;
    aspect-ratio:10/2;
    border-radius:1em;
}

.hide{
    display:none;
}

textarea { word-break: break-all; }

.result-textarea{
    width:85%;
    padding:20px;
    background-color:white;
    color:black;
    overflow: hidden;
    font-size: 1.6em;
    border-radius:1em;
    margin:20px 0;
    display: flex;
    
    align-items: center;
}

#cost-input{
    width:80vw;
    aspect-ratio:10/2;
    border-radius:1em;
    margin:20px 0;
    font-size:4em;
    text-align:center;
}

.calc-div{
    width:30%;
    aspect-ratio: 1;
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.calc-check{
    border:1px solid white;
    padding:0.1em 0.2em;
    border-radius:25%;
}

.checked{
    background-color:#8AC926;
}

.dop-check{
    padding:5px 8px;
    border-radius:20px;
    border:1px solid white;
    font-size: 36px;
}

.flex-left{
    justify-content:flex-start;
}